.bg-container {
	display: flex;
	align-items: baseline;
	justify-content: center;
	height: 100%;
	width: 30px;
	margin: 0 auto;
  position: relative;
  margin-bottom: 4px;
}

.large {
  width: 24px;
  height: 24px;
}

.water-container {
	width: 24px;
	height: 24px;
	left: 0;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	border-radius: 50%;
	animation: overflow-hack 1s infinite;
}

.water-container:after {
	content: '';
	position: absolute;
	bottom: 0;
	opacity: .3;
	border-radius: 10px;
	width: 34px;
	height: 30px;
	left: -6px;
  background: #219EBC;
	animation: rotate 3s linear infinite, moveme 8s .3s linear infinite;
	top: 15px;
	animation-timing-function: linear;
	transition: .4s ease;
}

.water-container:nth-child(2):after{
  animation-delay: .1s;
}

.water-container:nth-child(3):after{
  animation-delay: .3s;
}

@keyframes rotate {
  0%   {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}

@keyframes rotate-reverse {
  0%   {transform: rotate(0deg); }
  100% {transform: rotate(-360deg); }
}

@keyframes overflow-hack {
  100%{-webkit-transform: translateZ(0);
transform: translateZ(0);}
}

@keyframes moveme {
  100%{top: 0;}
}

#outer{
  margin: 0px auto 2px;
  background: #E7ECEF;
  height: 34px;
  width: 30px;
  border-radius: 0.4rem 0.4rem 0.2rem 0.2rem;
}
#middle{
  height: 20px;
  width: 20px;
  margin:auto;
  position: relative;
  top:8px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, transparent 50%, #1C5174 50%),linear-gradient(90deg, #1C5174 50%, #FEFCFB 50%);
  animation: rotation 600ms infinite linear;
  transform-origin: 50% 50%;
  animation-timing-function: ease;
}
#inner{
  background: #219EBC;
  height: 14px;
  width: 14px;
  margin:auto;
  position: relative;
  top:3px;
  border-radius: 50%;
}
#dote {
	position: absolute;
	background-color: #8B8C89;
	width: 6px;
	height: 4px;
	display: block;
	border-radius: 1rem;
	right: 2px;
  top: 2px;
}
@keyframes rotation {
from {
  -webkit-transform: rotate(270deg);
}
to{
  -webkit-transform: rotate(630deg);
  }
}