.bg-container {
	display: flex;
	align-items: baseline;
	justify-content: center;
	height: 100%;
	width: 30px;
	margin: 0 auto;
  position: relative;
  margin-bottom: 4px;
}

.large {
  width: 24px;
  height: 24px;
}

.water-container {
	width: 24px;
	height: 24px;
	left: 0;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	border-radius: 50%;
	animation: overflow-hack 1s infinite;
}

.water-container:after {
	content: '';
	position: absolute;
	bottom: 0;
	opacity: .3;
	border-radius: 10px;
	width: 34px;
	height: 30px;
	left: -6px;
  background: #219EBC;
	animation: rotate 3s linear infinite, moveme 8s .3s linear infinite;
	top: 15px;
	animation-timing-function: linear;
	transition: .4s ease;
}

.water-container:nth-child(2):after{
  animation-delay: .1s;
}

.water-container:nth-child(3):after{
  animation-delay: .3s;
}

@keyframes rotate {
  0%   {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}

@keyframes rotate-reverse {
  0%   {transform: rotate(0deg); }
  100% {transform: rotate(-360deg); }
}

@keyframes overflow-hack {
  100%{-webkit-transform: translateZ(0);
transform: translateZ(0);}
}

@keyframes moveme {
  100%{top: 0;}
}
